* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
header, footer {
  color: navy;
  padding: 10px;
}
header > h1 {
  text-shadow: 2px 2px grey, 
              3px 3px red;
}
header img {
  float:left;
}
nav {
  background: navy;
  padding: 10px;
  clear: left;
}

a:link, a:visited {
  text-decoration:none;
  color: white;
  border-right: 2px solid white;
  padding: 0 5px ;
}
a:hover, a:active {
  color: yellow;
  font-style: italic;
}

section {
  width: 80%;
  margin: 10px auto;
  border: 1px solid navy;
  padding: 10px;
}

footer {
  text-decoration:underline;
  text-align: center;
}
