* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
header, footer {
  color: navy;
  padding: 10px;
}
header  h1 {
  text-shadow: 2px 2px grey;
  margin-top: 0px;
}
header img {
  float:left;
  margin-right: 5px;
}
nav {
  background: navy;
  padding: 10px;
  clear: left;
}

a:link, a:visited {
  text-decoration:none;
  color: white;
  border-right: 2px solid white;
  padding: 0 5px ;
}
a:hover, a:active {
  color: yellow;
  font-style: italic;
}

section {
  width: 60%;
  margin: 10px auto;
  border: 2px solid navy;
  padding: 10px;
  background: lightblue;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
footer {
  text-decoration:underline;
  text-align: center;
}
